# Exercise 2

In [1]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
x[0] = 0
x[1] = 1
x[2] = 2
x[3] = 3
x[4] = 4
x[5] = 5
x[6] = 6

A = int(input('ENTER A NUMBER BETWEEN 0 AND 6'))

if (A == x[0] or A == x[1] or A == x[2] or A == x[3] or A == x[4]):
    print( 'Weekday')
else:
    print('Weekend')

ENTER A NUMBER BETWEEN 0 AND 6 4

Weekday

# Exercise 1

In [11]:
n = int(input('ENTER A NUMBER n '))
i = 0
summ = 0
while i < n:
   if i % 2 != 0:
    summ = summ + (i + 3)
   i += 1
print(summ)

ENTER A NUMBER n  3

4

In [9]:
n = int(input('ENTER A NUMBER n '))
i = 0
multiplication = 1
while i < n:
   if i % 2 == 0:
    multiplication = multiplication * (i + 3)
   i += 1
print(multiplication)

ENTER A NUMBER n  2

3

# Exercise 3

In [15]:
x = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
y = [31, 28, 31, 30, 31, 30, 31, 31, 30,31, 30, 31 ]
x[0] = 0
x[1] = 1
x[2] = 2
x[3] = 3
x[4] = 4
x[5] = 5
x[6] = 6
x[7] = 7
x[8] = 8
x[9] = 9
x[10] = 10
x[11] = 11
A = int(input('ENTER A NUMBER BETWEEN 0 AND 11'))
if (A == x[0] or A == x[1] or A == x[2] or A == x[3] or A == x[4] or A == x[5] or A == x[6] or A == x[7] or A == x[8] or A == x[9] or A == x[10] or A == x[11] ):
    print(y[0])
else:
    print('Choisis un nombre entre 0 et 11')

ENTER A NUMBER BETWEEN 0 AND 11 0

31

In [23]:
for i in range(3):
    print("Carine")

Carine
Carine
Carine

In [25]:
i = 1
while i < 4:
    print('Carine')
    i = i + 1

Carine
Carine
Carine

In [29]:
for i in range(40):
    if (i % 3 == 0 or i % 7 == 0 or i % 11 == 0):
        print(i)

0
3
6
7
9
11
12
14
15
18
21
22
24
27
28
30
33
35
36
39

In [33]:
n = int(input('Enter a number between 0 and 9'))
i = 1
N = int(input("Enter a number"))
for i in range(N):
    print(f"{n} times {i} = {n * i}")

Enter a number between 0 and 9 2
Enter a number 10

2 times 0 = 0
2 times 1 = 2
2 times 2 = 4
2 times 3 = 6
2 times 4 = 8
2 times 5 = 10
2 times 6 = 12
2 times 7 = 14
2 times 8 = 16
2 times 9 = 18

In [47]:
n = int(input('Enter a natural number'))
for i in range(1,n):
    if (n % i == 0):
        print(i)

Enter a natural number 20

1
2
4
5
10

In [86]:
n = int(input('Enter a number n: '))
Liste = []
prod = 1
for i in range(1, n+1):
    if n % i == 0:  
        compteur = 0
        for l in range(1, i+1):
            if i % l == 0:
                compteur = compteur + 1
        if compteur == 2:  
            print('Ce nombre', i, 'est premier')
            Liste.append(i)  
        else:
            print("Ce nombre", i, "n'est pas premier")

print("Les diviseurs premiers de", n, "sont :", Liste)

for div in Liste:
    prod *= div

if prod == n:
    print("Les facteurs premiers de", n, "sont", Liste)
else:
    print("Les facteurs premiers ne correspondent pas au nombre", n)

Enter a number n:  30

Ce nombre 1 n'est pas premier
Ce nombre 2 est premier
Ce nombre 3 est premier
Ce nombre 5 est premier
Ce nombre 6 n'est pas premier
Ce nombre 10 n'est pas premier
Ce nombre 15 n'est pas premier
Ce nombre 30 n'est pas premier
Les diviseurs premiers de 30 sont : [2, 3, 5]
Les facteurs premiers de 30 sont [2, 3, 5]

# Exercise 6

In [90]:
n = 30
x0 = int(input('Enter the first value x0: '))
x1 = int(input('Enter the second value x1: '))
xn = x0
xn1 = x1
print(f"x0 = {x0}")
print(f"x1 = {x1}")
for i in range(2, n+1):
    xn2 = (xn1 + 6 * xn) / 2
    print(f"x{i} = {xn2}")
    xn = xn1
    xn1 = xn2

Enter the first value x0:  1
Enter the second value x1:  2

x0 = 1
x1 = 2
x2 = 4.0
x3 = 8.0
x4 = 16.0
x5 = 32.0
x6 = 64.0
x7 = 128.0
x8 = 256.0
x9 = 512.0
x10 = 1024.0
x11 = 2048.0
x12 = 4096.0
x13 = 8192.0
x14 = 16384.0
x15 = 32768.0
x16 = 65536.0
x17 = 131072.0
x18 = 262144.0
x19 = 524288.0
x20 = 1048576.0
x21 = 2097152.0
x22 = 4194304.0
x23 = 8388608.0
x24 = 16777216.0
x25 = 33554432.0
x26 = 67108864.0
x27 = 134217728.0
x28 = 268435456.0
x29 = 536870912.0
x30 = 1073741824.0

# Exercise 5

In [98]:
n = 15
a0 = int(input('Enter the first value a0: '))
a1 = int(input('Enter the second value a1: '))
an = a0
an1 = a1
for i in range(2, n+1):
    an2 = an + an1
    print(f"a{i} = {an2}")
    an = an1
    an1 = an2

Enter the first value a0:  0
Enter the second value a1:  1

a2 = 1
a3 = 2
a4 = 3
a5 = 5
a6 = 8
a7 = 13
a8 = 21
a9 = 34
a10 = 55
a11 = 89
a12 = 144
a13 = 233
a14 = 377
a15 = 610